{% set mac = salt['grains.get']('hwaddr_interfaces:eth0') %}
{% set octet = salt['pillar.get']('dbnode:octet') %}
{% set privateip = salt['grains.get']('ip4_interfaces:eth0')[0] %}
# This is a custom file to add the LB IP as a native interface for the HAProxy.
# Rather than coming back from a different interface which could get rejected due to socket issues.
# /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg with the following:
# network: {config: disabled}
network:
  ethernets:
    eth0:
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
      dhcp6: false
      match:
        driver: hv_netvsc
        macaddress: {{ mac }}
      set-name: eth0
  version: 2