{% set privlbip = salt['pillar.get']('dbnode:privlbip') %}
{% set lbip = salt['pillar.get']('dbnode:lbip') %}
#!/bin/bash

sudo ip addr add {{ privlbip }}/32 dev lo:0
sudo ip addr add {{ lbip }}/32 dev lo:1
exit 0 