{% set privateip = salt['grains.get']('ip4_interfaces:eth0')[0] %}
{% set dbnode1 = salt['pillar.get']('dbnode:dbnode1') %}
{% set dbnode2 = salt['pillar.get']('dbnode:dbnode2') %}
{% set dbnode3 = salt['pillar.get']('dbnode:dbnode3') %}
{% set ins = salt['grains.get']('instance') %}
{# New cluster provisions need "new" under ETCD_INITIAL_CLUSTER_STATE - otherwise "existing" needs to be set #}
ETCD_NAME="pg{{ ins }}"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_INITIAL_CLUSTER="pg1=http://{{ dbnode1 }}:2380,pg2=http://{{ dbnode2 }}:2380,pg3=http://{{ dbnode3 }}:2380"
ETCD_INITIAL_CLUSTER_STATE="existing"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ privateip }}:2380"
ETCD_LISTEN_PEER_URLS="http://{{ privateip }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ privateip }}:2379"
ETCD_HEARTBEAT_INTERVAL="1000"
ETCD_ELECTION_TIMEOUT="5000"
ETCD_CLIENT_CERT_AUTH="false"