{% set appip = salt['grains.get']('public_ipv4') %} 
{% set privateip = salt['grains.get']('ip4_interfaces:eth0')[0] %}
# variables to store and use in config if needed. 

# External routing socket - only routing on public
LB = '{{ appip }}'
LB_SOCKET = LB + ':5060'

# Carriers are 1
# Add more here for specific groups
CA = 1
